@import '../../styles/mixins.scss';

.profile,
.profile__text {
  margin-top: 12px;
}
.profile__body,
.profile__header {
  display: flex;
  flex-direction: column;
}

.profile__group_title,
.profile__value_title,
.profile__episodes_title {
  font-size: 16px;
}
.profile__texts,
.profile__episodes {
  margin-top: 24px;
}

.profile__title,
.profile__episodes_title {
  color: $bg-color;
  text-align: center;
  background: $black-color;
}

.profile {
  border-radius: 4px;
  background: #fafafa;
  padding: 12px;
  box-shadow: 4px 4px 9px -1px rgb(0 0 0 / 55%);
  
  &__image_container {
    display: flex;
    justify-content: center;
  }

  &__title {
    padding: 4px 0;
    width: 100%;
    margin: auto;
  }

  &__texts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: bold;
    }
    &_value {
      margin-top: 8px;
      text-overflow: ellipsis;
      max-width: 200px;
      overflow: hidden;
    }
  }

  &__episodes {
    display: flex;
    flex-direction: column;

    &_title {
      color: $bg-color;
    }

    &_list {
      margin: 14px auto 24px;
      flex-direction: column;
      max-height: 100px;
      width: 100%;
      overflow: auto;
      background: white;
      li {
        padding: 4px 8px;
      }
    }
  }
}

@include for-desktop {
  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px 24px;
    padding: 40px;
    margin-bottom: 12px;

    &__texts {
      margin-top: 0;
    }

    &__title {
      margin: 0px auto 0;
      width: 280px;
      font-size: 24px;
    }
    &__group_title,
    &__value_title,
    &__episodes_title {
      font-size: 20px;
    }
    &__group {
      &_value {
        max-width: 400px;
      }
    }
    &__footer {
      max-width: 820px;
      margin: auto;
      width: 100%;
      margin-right: 33px;
      grid-column: 1/3;
    }

    &__episodes {
      &_list {
        width: 100%;
        max-height: 150px;
      }
    }
  }
}
