@import '../../styles/mixins.scss';

.card {
  color: $bg-color;
  background: $black-color;
}

@include for-desktop {
  .card {
    overflow: hidden;

    img {
      transition: transform ease 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.1);
        filter: brightness(0.8);
      }
    }
  }
}
