@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.filter_container {
  display: flex;
  width: 150px;
  svg {
    margin-right: 0;
    color: $bg-color;
  }

  &__input {
    width: 100%;

    input {
      color: $bg-color;
      &::placeholder {
        color: $bg-color;
      }
    }
    div::after {
      border-bottom: 2px solid $bg-color;
    }
  }
}

@include for-desktop {
  .filter_container {
    width: 250px;
    &__delete_icon:hover {
      cursor: pointer;
    }
  }
}
