@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.page {
  background-color: #826445;
  background: url('../public/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.list {
  position: relative;
  display: block;
  color: $bg-color;
  margin: 0 auto;
  min-width: $mobile-min-width;
  max-width: $mobile-max-width;
  width: 100%;

  &__container {
    margin-top: 48px;
    width: 100%;
  }

  &__pagination {
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    ul {
      justify-content: center;
      button {
        color: $bg-color;
      }
    }
  }
}

@include for-desktop {
  .list {
    max-width: $desktop-min-width;
    min-width: none;

    &__pagination {
      margin-top: 24px;
      svg,
      button {
        font-size: 18px;
      }
    }
  }
}
