@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.list {
  position: relative;
  display: block;
  color: $bg-color;
  margin: 0 auto;
  min-width: $mobile-min-width;
  max-width: $mobile-max-width;
  width: 100%;
}

.container {
  margin-top: 24px;
  width: 100%;
}

.title, .subtitle{
  text-align: center;
  font-weight: 700;
}

.title{
  font-size: 32px;
  margin-bottom: 48px;
}

.subtitle {
  font-size: 20px;
}

.pagination {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
  ul {
    justify-content: center;
    button {
      color: $bg-color;
    }
  }
}

@include for-desktop {
  .list {
    max-width: $desktop-min-width;
    min-width: none;
  }
}
